.aluno-container
{
  width: 100%;
  max-width:1200px;
  padding: 5px 10px;
  margin: 30px auto;
}

.aluno-container header
{
  display: flex;
  align-items: center;
}

.aluno-container header img{
  height: 50px;
}

.aluno-container
{
  width: 100%;
  max-width: 1200px;
  padding: 5px 10px;
  margin: 30px auto;
}

.aluno-container header
{
  display: flex;
  align-items: center;
}

.aluno-container header img{
  height: 50px;
}

table, th, td {
  border: 1px solid Oblack;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  padding: 20px;
  text-align: left;
}